* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
  height: 3000px;
  background-color: #a3d5ff;
}
.navbar {
  position: fixed;
  background-color: #83c9f4;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 400px;
  padding-right: 400px;
  align-items: center;
  border-bottom: 1px solid;
}
.logo {
  text-decoration: none;
  font-family: righteous;
  font-weight: 900;
  font-size: 30px;
  color: black;
}
.logo span {
  color: rgb(4, 104, 235);
}
.menu {
  font-size: 0;
}
.menu a {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  padding: 10px;
  color: white;
}

.container {
  padding-top: 100px;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.main-box {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 20px;
  gap: 20px;
  align-content: center;
}
.left-box {
  width: 100%;
  text-align: center;
}
.slide-container {
  width: 500px;
  height: 330px;
  overflow: hidden;
}
.slide-container .slide {
  width: 100%;
  height: 100%;
}
.cust-comment {
  width: 70%;
  text-align: left;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cust-img img {
  width: 50px;
  height: 50px;
  line-height: 0.5px;
  vertical-align: middle;
  border-radius: 50px;
  margin-left: -190px;
}
.cust-img h3 {
  display: inline-block;
}
.cust-img p {
  margin-top: -18px;
  margin-left: -190px;
}
.offers {
  width: 70%;
  text-align: left;
  margin: auto;
  margin-top: 40px;
}
.offers h4 {
  font-size: 50px;
}
.offer-list {
  margin-top: 30px;
  display: flex;
}
.list-number {
  width: 30px;
  height: 30px;
  background-color: darkgrey;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-right: 20px;
}
.list-explanation {
  font-weight: 700;
}

.right-box {
  width: 90%;
  height: 600px;
  background-color: #d9f0ff;
  border: 1px solid;
  border-radius: 10px;
  padding: 40px;
  font-size: 18px;
}
.right-box h2 {
  margin-bottom: 30px;
}
.right-box p {
  margin-bottom: 50px;
}
.input-box {
  margin-top: 30px;
}
.right-box input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.right-box select {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}
.right-box button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: black;
  font-weight: 900;
  color: white;
  border-radius: 5px;
}

.ourpackages {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-package {
  width: 1000px;
  height: 480px;
  border: 1px solid;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.fa-regular {
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 50%;
  padding-top: 6px;
  background-color: rgb(238, 224, 224);
}
.city {
  padding-top: 30px;
}
.city img {
  width: 200px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.city p {
  width: 198px;
  text-align: justify;
  margin: auto;
}
.container-argument {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.argument {
  margin: auto;
  text-align: center;
  width: 50%;
}
.argument h1 {
  margin-bottom: 30px;
}
.argument button {
  width: 200px;
  margin-top: 30px;
  border: none;
  background-color: black;
  font-weight: 900;
  color: white;
  padding: 10px;
}
@media (max-width: 600px) {
  body {
    height: 5000px;
  }
  .navbar {
    width: 100%;
    padding-left: 30px;
  }
  .logo {
    font-size: 15px;
  }

  .menu a {
    display: none;
  }
  .container {
    margin-top: 20px;
  }
  .main-box {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
  }
  .slide-container {
    width: 90%;
    margin: auto;
  }
  .right-box {
    width: 90%;
    margin: auto;
  }
  .container-package {
    grid-template-columns: 1fr;
    width: 400px;
    height: 1400px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .container-argument {
    width: 100%;
  }
}
